POSTGRES_DB=dars_manager
POSTGRES_USER=dars_manager
POSTGRES_PASSWORD=replace-with-a-long-random-password
DARSM_COOKIE_SECURE=false
DARSM_WHISPER_CPU_THREADS=4
DARSM_JOB_TTL_SECONDS=7200
DARSM_MAX_UPLOAD_BYTES=524288000
DARSM_FRONTEND_ORIGIN=http://localhost:5173
DARSM_MEDIA_BACKEND=local
DARSM_MEDIA_ROOT=/workspaces/media
DARSM_MEDIA_RETENTION_SECONDS=604800
DARSM_MEDIA_UPLOAD_URL_TTL_SECONDS=900
DARSM_EXECUTION_BACKEND=worker
DARSM_WORKER_POLL_SECONDS=2
DARSM_WORKER_LEASE_SECONDS=120
DARSM_WORKER_MAX_ATTEMPTS=3
# Production object storage:
# DARSM_MEDIA_BACKEND=s3
# DARSM_S3_BUCKET=dars-manager-media
# DARSM_S3_REGION=eu-west-3
# DARSM_S3_ENDPOINT_URL=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
